<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../public/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../public/css/style.css">
    </head>
<body>
<div class="page-data">

    <form method="post" action="" id="the-form">
        <table cellpadding="11">
        <tr>
            <td class="label">Numero Contraloria</td><td>: <input type="text" name="numContraloria"></td>
         </tr>
         <tr>
            <td class="label"></td>
            <td>
                &nbsp; <input type="button" value="Save" onClick="buscarBien()">
            </td>
         </tr>
        </table>
        <p>
    </form>
</div>

<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">

        <% if(data.length){ %>
          <tr>
              <th width="50px">Num Contraloria</th>
              <th>Descripcion</th>
              <th>Area</th>
              <th>Estado</th>
              <th>Fecha Comprado</th>
              <th>Costo</th>
          </tr>

         <% for(var i = 0;i < data.length;i++) { %>

        <tr>
            <td><%=(i+1)%></td>
            <td><%=data[i].descripcion%></td>
            <td><%=data[i].costo%></td>
            <td><%=data[i].fecha_comprado%></td>
            <td>
                <a class="a-inside edit" href="/api/bien/<%=data[i].id_bien%>">Edit</a>

                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteUser(<%=data[i].user_id%>)">Delete</a>

            </td>
        </tr>
    <% }

     }else{ %>
         <!--<tr>
            <td colspan="5">No Data</td>
         </tr>-->
    <% } %>

    </table>
</div>

<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function buscarBien(){

       $.ajax({

        url:"/api/Bxsien/",
        type:"get",
        data:$("#the-form").serialize(),
        success:function(res){

            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){

            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {

                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);
            return false;
        }

       });
    }

    function deleteUser(user_id){
        $.ajax({
            url:"/api/user/"+user_id,
            type: 'DELETE',
            success: function(res) {

                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
