<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../public/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../public/css/style.css">
    </head>
<body>
<div class="page-data">

    <form method="post" action="" id="the-form">
        <table cellpadding="11">
        <tr>
            <td class="label">Numero Contraloria</td><td>: <input type="text" name="numContraloria"></td>
         </tr>
         <tr>
            <td class="label"></td>
            <td>
                &nbsp; <input type="button" value="Save" onClick="buscarBien()">
            </td>
         </tr>
        </table>
        <p>
    </form>
</div>

<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <% if(data.length){ %>
          <tr>
              <th width="50px">#</th>
              <th>Clave del bien</th>
              <th>Tipo de tramite</th>
              <th>Estado</th>
              <th>Fecha Creacion</th>
          </tr>

         <% for(var i = 0;i < data.length;i++) { %>

        <tr>
            <td><%=(i+1)%></td>
            <td><%=data[i].id_bien%></td>
            <td><%=data[i].tipo%></td>
            <td><%=data[i].estado%></td>
            <td><%=data[i].fecha_creacion%></td>
            <td>

            </td>
        </tr>
    <% }

     }else{ %>

    <% } %>

    </table>
</div>

<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

</script>
</body>
</html>
